---
layout: page
title: Camaradas
trait: 'links'
permalink: /camaradas/
---
<h2>Gente con la que colaboro o admiro en secreto</h2>

{% include card.html
icon_rss="true"
name="Rosigerante"
content="🐘 en vitrina"
link="https://medium.com/@rosigerante"
lang="ES" %}

{% include card.html
icon_rss="true"
name="SRSLY WRONG"
content="Podcast anarquista de humor canadiense"
link="https://srslywrong.com/"
lang="EN" %}


{% include card.html
icon_youtube="true"
name="Cuñado de izquierdas"
content="Canal de política desde la candidez y la ignorancia... y la izquierda! "
link="https://www.youtube.com/c/cuñadodeizquierdas"
lang="ES" %}

{% include card.html
icon_youtube="true"
name="Escupamos la historia"
content="■ Historia 📃
■ Cosmovisión mapuche 🏞🍃
■ Anarquismo 🏴📚
■ Sociedad 🤝
■ Política🤦‍♂️ 💬
■ ACAB 🔥👮‍♂️💣
■ Ateísmo⛪🚫"
link="https://www.youtube.com/channel/UC9TmkzHBJmRyzLqKaakBztg"
lang="ES" %}

{% include card.html
icon_rss="true"
name="𝕮𝖗𝖚𝖊𝖑𝖆"
content="🌎✊🏿❤"
link="https://www.tiktok.com/@cruelatime"
lang="ES" %}

{% include card.html
icon_youtube="true"
name="Alba Lafarga"
content="En este canal vamos a hablar de Filosofía y Cultura desde una óptica pop 🍭. El objetivo es acercar elementos
culturales e ideas a través del imaginario popular millennial🎮. Quiero que hablar de filosofía con rigor también sea
relacionarlo con la música, las películas o series que nos han marcado como generación. 👑 Sí, hablo de Star Wars,
Pokémon, Sakura, Zelda, Beyoncé, The Strokes, Marvel y un largo etc. Embrace your millennial side;)"
link="https://www.youtube.com/user/albaLM1122"
lang="ES" %}

{% include card.html
icon_youtube="true"
name="Infusión Ideológica"
content="Exponiendo la ideología legitimadora de relaciones de dominación oculta en nuestra cultura y política."
link="https://www.youtube.com/channel/UCFzlLAenljwEBq9UJkMYh7g"
lang="ES" %}

{% include card.html
icon_youtube="true"
name="cuellilargx"
content="colectivo de periodistas contra el poder."
link="https://www.youtube.com/channel/UCBGhz1moVqt0Q7LaB0AXUrg"
lang="ES" %}

{% include card.html
icon_youtube="true"
name="Cafe Kyoto"
content="Soy Juan Felipe y esto es Café Kyoto, canal dedicado a la historia, la filosofía, la sociología y cualquier
otra cosa que considere imprescindible para la existencia."
link="https://www.youtube.com/c/Caf%C3%A9Kyoto"
lang="ES" %}

{% include card.html
icon_instagram="true"
name="Proyecto Una"
content="Feminismo pop
🦄
Desenmascarando nuevas formas de fascismo
🦕
☄️
Izquierda fucsia
🌈
Las frikis heredarán el reino de los cielos
👾"
link="https://www.instagram.com/proyectouna_/"
lang="ES" %}

{% include card.html
icon_rss="true"
name="Arantza GarGo"
content="Te cuento en 59 segundos historias de mujeres aprendizaje y periodismo"
link="https://www.tiktok.com/@esparamitarea/"
lang="ES" %}

{% include card.html
icon_youtube="true"
name="Taller Nepantla"
content="agencia de consultoria para el arte politico"
link="https://www.instagram.com/tallernepantla"
lang="ES" %}

{% include card.html
icon_rss="true"
name="Carla Escoffié"
content="👩🏻‍⚖️Abogada
📚Autora del libro País sin techo
🏛Académica en @lalibremty
👩‍💻Creadora de contenido"
link="https://www.tiktok.com/@carlaescoffie"
lang="ES" %}

{% include card.html
icon_instagram="true"
name="Gatitos contra la desigualdad"
content="Somos un grupo de gatitos comprometidos con deconstruir la legitimidad de la meritocracia."
link="https://www.instagram.com/gatitoscontraladesigualdad"
lang="ES" %}

{% include card.html
icon_instagram="true"
name="Ninari Chimba Santillan"
content="📚Mtr.Educación
🇪🇨Mujer Indígena Panzaleo-Otavalo 🏳‍🌈Lesbiana
Profe💚💜Ecofeminista 🎬Actriz🎙Locutora 🎶Cantautora"
link="https://www.instagram.com/ninarichimba"
lang="ES" %}

{% include card.html
icon_instagram="true"
name="Paulette Goyes"
content="🍄Micología🍄 y Biohacker"
link="https://www.instagram.com/babypollution"
lang="ES" %}

{% include card.html
icon_instagram="true"
name="Mar Sala"
content="Journalist, Filmmaker & Climate justice activist
📢 ActinMedia_Comunicando la transformación ecosocial
🎥 En el @elsaltodiario"
link="https://www.instagram.com/mar.sala"
lang="ES" %}

{% include card.html
icon_rss="true"
name="Gabriela Galmos"
content="Lingüista. No hablo idiomas, hablo sobre idiomas. 📧 "
link="https://www.tiktok.com/@gabriela.galmos?lang=en"
lang="ES" %}

{% include card.html
icon_rss="true"
name="Gatito QuePinta"
content="Pintar, Muralear y Mondelar🐾Miau"
link="https://www.tiktok.com/@gatoquepinta"
lang="ES" %}

{% include card.html
icon_instagram="true"
name="Nutriólogo • Diego Azmitia"
content="🍉 Divulgación de Nutrición y más en Youtube!
🎙Podcast: NUTRICIÓN DISRUPTIVA
📲Consulta Presencial/Online
📍Merida/Campeche"
link="https://www.instagram.com/nutriciondisruptiva"
lang="ES" %}

{% include card.html
icon_instagram="true"
name="Lali Fernando Riascos"
content="Líder juvenil, comunicador y creador de contenido"
link="https://www.instagram.com/soy_lalif"
lang="ES" %}

{% include card.html
icon_youtube="true"
name="Termino Medio"
content="-"
link="https://www.youtube.com/@terminomedio1331"
lang="ES" %}

{% include card.html
icon_rss="true"
name="AnthropoGux"
content="🟢 Antropólogo Social
🟣 Divulgación - Ciencias Sociales"
link="https://linktr.ee/Anthropogux"
lang="ES" %}

{% include card.html
icon_rss="true"
name="En la esquina del samán"
content="¡Somos un podcast dedicados 100% al pensamiento crítico!"
link="https://linktr.ee/enlaesquinadelsaman"
lang="ES" %}

{% include card.html
icon_rss="true"
name="Amilcar Paris Mandoki"
content="Hago videos de youtube sobre Marx y otros filósofos"
link="https://linktr.ee/AmilcarFilos"
lang="ES" %}

{% include card.html
icon_instagram="true"
name="Frezapatistas"
content="Podcast de esos que la gente dice que vive en la Roma-Condesa y toman mucho Macha latte pero son de
Neo-izquierda."
link="https://www.instagram.com/frezapatistas"
lang="ES" %}