---
layout: page
title: Camaradas
permalink: /camaradas/
---
<h2>Gente con la que colaboro o admiro en secreto</h2>

{% include card.html 
    icon_rss="true" 
    name="Rosigerante" 
    content="🐘 en vitrina" 
    link="https://medium.com/@rosigerante" 
    lang="ES" %}

{% include card.html 
    icon_rss="true" 
    name="SRSLY WRONG" 
    content="Podcast anarquista de humor canadiense" 
    link="https://srslywrong.com/" 
    lang="EN" %}

{% include card.html 
    icon_youtube="true" 
    name="Fiskifús" 
    content="Ciencia e Historia Siniestra" 
    link="https://www.youtube.com/channel/UCJ6dSOQ6ba_7Fy1ZzmzlxAw/" 
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Cuñado de izquierdas" 
    content="Canal de política desde la candidez y la ignorancia... y la izquierda! " 
    link="https://www.youtube.com/c/cuñadodeizquierdas"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Escupamos la historia" 
    content="■ Historia 📃
    ■ Cosmovisión mapuche 🏞🍃
    ■ Anarquismo 🏴📚
    ■ Sociedad 🤝
    ■ Política🤦‍♂️ 💬
    ■ ACAB 🔥👮‍♂️💣
    ■ Ateísmo⛪🚫" 
    link="https://www.youtube.com/channel/UC9TmkzHBJmRyzLqKaakBztg"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Alba Lafarga" 
    content="En este canal vamos a hablar de Filosofía y Cultura desde una óptica pop 🍭. El objetivo es acercar elementos culturales e ideas a través del imaginario popular millennial🎮. Quiero que hablar de filosofía con rigor también sea relacionarlo con la música, las películas o series que nos han marcado como generación. 👑 Sí, hablo de Star Wars, Pokémon, Sakura, Zelda, Beyoncé, The Strokes, Marvel y un largo etc. Embrace your millennial side;)" 
    link="https://www.youtube.com/user/albaLM1122"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Infusión Ideológica" 
    content="Exponiendo la ideología legitimadora de relaciones de dominación oculta en nuestra cultura y política." 
    link="https://www.youtube.com/channel/UCFzlLAenljwEBq9UJkMYh7g"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Cabesandia" 
    content="Me gusta la filosofía, la música, la política, el lenguaje, la historia, la matemática, la comedia, la lectura y los jueguitos.
    De vez en cuando decido hacer videos de esas cosas." 
    link="https://www.youtube.com/channel/UCATPMImiqFV3_XRwftRlkFg"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Camarada Arácnido" 
    content="Canal dedicado a análisis político y critica social" 
    link="https://www.youtube.com/c/UCRaSsbXeZfPB8KgA9h-sKoQ/"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Gad Yola" 
    content="✊🏽Drag Queen antirracista 🇵🇪 en Madrid" 
    link="https://www.youtube.com/channel/UC9Wue9FVYX5r81FHNjouQsw"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Las igualadas" 
    content="Las Igualadas (@LasIgualadas) es un canal creado para discutir con tranquilidad temas de género que parecen elementales, pero que suelen ser ignorados." 
    link="https://www.youtube.com/channel/UCqTbeZBXruMeD5ySS42Q5cQ"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Shaun" 
    content="Video creator...floating skull" 
    link="https://www.youtube.com/channel/UCJ6o36XL0CpYb6U5dNBiXHQ"
    lang="EN" %}

{% include card.html 
    icon_youtube="true" 
    name="Contrapoints" 
    content="YouTuber, ex-philosopher 🦋" 
    link="https://www.youtube.com/channel/UCNvsIonJdJ5E4EXMa65VYpA"
    lang="EN" %}

{% include card.html 
    icon_twitter="true" 
    name="Gatitos contra la desigualdad" 
    content="Somos un grupo de gatitos comprometidos con deconstruir la legitimidad de la meritocracia." 
    link="https://twitter.com/GatitosVsDesig" 
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="cuellilargx" 
    content="colectivo de periodistas contra el poder." 
    link="https://www.youtube.com/channel/UCBGhz1moVqt0Q7LaB0AXUrg"
    lang="ES" %}

{% include card.html 
    icon_instagram="true" 
    name="Lucía-Asué Mbomío Rubio" 
    content="📺 📰 📻 💻 Raza,género,barrio" 
    link="https://www.instagram.com/luciambomio/" 
    lang="ES" %}

{% include card.html 
    icon_instagram="true" 
    name="javirroyo" 
    content="Autor Not an artist. Not an illustrator. Not a graphic designer. Birth—Draw—Death" 
    link="https://instagram.com/javirroyo"
    lang="ES" %}
    
{% include card.html 
    icon_youtube="true" 
    name="Jack Saint" 
    content="A channel about narratives, and the ways that we craft them. and, you know, big brain takes about kids movies" 
    link="https://www.youtube.com/user/LackingSaint"
    lang="EN" %}

{% include card.html 
    icon_youtube="true" 
    name="Angie Speaks" 
    content="Anarchist Leftist channel with a creative and mystical flair!" 
    link="https://www.youtube.com/channel/UCUtloyZ_Iu4BJekIqPLc_fQ"
    lang="EN" %}

{% include card.html 
    icon_youtube="true" 
    name="Thought Slimes" 
    content="I'm a smug anarchist poseur vomiting out video essays for you. I love you." 
    link="https://www.youtube.com/channel/UCUtloyZ_Iu4BJekIqPLc_fQ"
    lang="EN" %}

{% include card.html 
    icon_twitter="true" 
    name="Desirée Bela-Lobedde" 
    content="Comunicadora. Afrofeminista. Escribo en @Publico_es y a veces hablo en Més324. Te voy a llamar “chiqui” te guste o no. Autora de “Ser mujer negra en España”." 
    link="https://twitter.com/desiree_bela"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Towanda Rebels" 
    content="Zua Méndez y Teresa Lozano
    🎬Actrices y Comunicadoras
    📚Autoras de #HolaGuerrera (Aguilar)
    🎭Productoras de @sextoyesp" 
    link="https://www.youtube.com/channel/UCr4l0skM9D5RcY4Cwd2V-MA"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Ophelia Pastrana" 
    content="La Explicatriz. Física, Trans/LGBT, Media Girl y Exgurú. Antes hacía agencias, ya no. Corro, grito y empujo." 
    link="https://www.youtube.com/OphCourse"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Pop Culture Detective" 
    content="A critical video essay series focusing on the intersections of sociology, masculinity, politics, and entertainment. Hosted by @radicalbytes" 
    link="https://www.youtube.com/c/PopCultureDetectiveAgency"
    lang="EN" %}

{% include card.html 
    icon_rss="true" 
    name="Pikara Magazine" 
    content="Revista que ofrece periodismo y opinión con un enfoque crítico, feminista, transgresor y disfrutón."
    link="https://pikaramagazine.com"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="La Pulla" 
    content="#LaPulla es un espacio de opinión de @elespectador para aportar reflexión a la indignación de los colombianos. Emberráquese con argumentos." 
    link="https://www.youtube.com/channel/UCu2cUfy1hmjlcfZHzvVuEgg"
    lang="ES" %}

{% include card.html 
    icon_instagram="true" 
    name="ASCO Media" 
    content="La solución a tus problemas en línea." 
    link="https://www.instagram.com/asco.media/"
    lang="ES" %}

{% include card.html 
    icon_instagram="true" 
    name="Proyecto Una" 
    content="Feminismo pop
    🦄
    Desenmascarando nuevas formas de fascismo
    🦕
    ☄️
    Izquierda fucsia
    🌈
    Las frikis heredarán el reino de los cielos
    👾" 
    link="https://www.instagram.com/proyectouna_/"
    lang="ES" %}

{% include card.html 
    icon_youtube="true" 
    name="Francisco Soriano" 
    content="Documentales de artes y cultura en general que busca difundir y unificar todos los documentales sobre arte y artistas que he conseguido reunir desde hace unos años. (Excepto los de BBC por que Youtube no nos deja)" 
    link="https://www.youtube.com/c/MtroFranciscoSoriano"
    lang="ES" %}