---
layout: page
title: Árbol de links
permalink: /linktree/
---

Holi:3
{% for post in site.posts limit:1 %}
<figure class="card">
    <span class="card-icon"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg></span>
    <a href="{{ post.url | relative_url }}" target="_blank">
        <span class="h3">Último video</span> 
        <span class="content">{{ post.title | escape }}</span>
    </a>
</figure>
{%- if page.tags.includes('minicuil') -%}
holiiiii
{%- endif -%}
{% endfor %}

{% include card.html 
    icon_mastodon="true" 
    name="Mastodon" 
    content="Ven a Mastodon, con tu ayuda seremos más de 14 personas" 
    link="https://mastodon.social/@chinicuil@paquita.masto.host"  %}

{% include card.html 
    icon_rss="true" 
    name="TikTok" 
    content="Para ver como hago el ridículo en menos de un minuto" 
    link="https://www.tiktok.com/@chini_cuil" %}

{% include card.html 
    icon_rss="true" 
    name="Website" 
    content="Para leer las transcripciones, notas, fuentes y referencias de los videos" 
    link="https://somoschinicuil.github.io/"%}

{% include card.html 
    icon_rss="true" 
    name="Medium" 
    content="Para leer mis faltas de ortografía" 
    link="https://medium.com/@soychinicuil" %}

{% include card.html 
    icon_twitter="true" 
    name="Twitter" 
    content="Para leer como me enojo" 
    link="http://twitter.com/chini_cuil/"  %}

{% include card.html 
    icon_instagram="true" 
    name="Instagram" 
    content="Para ver memes" 
    link="https://www.instagram.com/chini_cuil/"  %}

{% include card.html 
    icon_rss="true" 
    name="Tumblr" 
    content="Para que envíes a las personas que no quiere ver mis publicaciones" 
    link="https://somoschinicuil.tumblr.com/" %}

{% include card.html 
    icon_facebook="true" 
    name="Facebook" 
    content="Para que termines viendo fotos de los hijos de tus primos" 
    link="https://www.facebook.com/somoschinicuil" %}

{% include card.html 
    icon_youtube="true" 
    name="Canal de youtube" 
    content="Para ver los videos" 
    link="https://youtube.com/chinicuil" %}

