---
layout: page
title: Árbol de links
permalink: /linktree/
---
<h2>Redes sociales</h2>

{% include card.html 
    icon_youtube="true" 
    name="Canal de youtube" 
    content="Para ver los videos" 
    link="https://youtube.com/chinicuil" %}

{% include card.html 
    icon_rss="true" 
    name="Website" 
    content="Para leer las transcripciones de los video" 
    link="https://somoschinicuil.github.io/"%}

{% include card.html 
    icon_twitter="true" 
    name="Twitter" 
    content="Para leer como me enojo" 
    link="http://twitter.com/chini_cuil/"  %}

{% include card.html 
    icon_instagram="true" 
    name="Instagram" 
    content="Para ver memes" 
    link="https://www.instagram.com/chini_cuil/"  %}

{% include card.html 
    icon_rss="true" 
    name="Medium" 
    content="Para leer mis faltas de ortografía" 
    link="https://medium.com/@soychinicuil" %}

{% include card.html 
    icon_rss="true" 
    name="TikTok" 
    content="Para ver un paraje desértico" 
    link="https://www.tiktok.com/@chini_cuil" %}

{% include card.html 
    icon_facebook="true" 
    name="Facebook" 
    content="Para que termines viendo fotos de los hijos de tus primos" 
    link="https://www.facebook.com/somoschinicuil" %}
