---
layout: page
title: Árbol de links
trait: 'links'
permalink: /linktree/
---

<div class="container_sm">
    {% for post in site.posts limit:1 %}
    <section class="chinilink">
        <article class="chinilink_mini box">
            <div class="row">
                <div class="col_6">
                    <div class="row_n">
                        <div class="col">
                            <img class="chinilink_mini_img" src="/assets/img/chininew/link-random-6.png" alt="Imagen de una persona en alto contraste">
                        </div>
                        <div class="col">
                            <h2 class="chinilink_mini_title">Último contenido</h2>
                            <p>{{ post.title | escape }}</p>
                        </div>
                    </div>
                </div>
                <div class="col_6 text_r">
                    <a href="{{ post.url }}" target="_blank" class="chinilink_url"><small>{{ post.url | relative_url }}</small></a>
                </div>
            </div>
        </article>
    </section>
    {% endfor %}

    {% include card.html 
        icon_mastodon="true" 
        name="Mastodon" 
        content="Ven a Mastodon, con tu ayuda seremos más de 14 personas" 
        link="https://social.anartist.org/@chinicuil"  %}

    {% include card.html 
        icon_youtube="true" 
        name="Canal de Peertube" 
        content="Para ver los videos de chinicuil en anartist" 
        link="https://video.anartist.org/c/chinicuil_canal/videos" %}
    
    {% include card.html 
        icon_rss="true" 
        name="Website" 
        content="Para leer las transcripciones, notas, fuentes y referencias de los videos" 
        link="https://somoschinicuil.github.io/"%}

    {% include card.html 
        icon_instagram="true" 
        name="Instagram" 
        content="Para ver memes" 
        link="https://www.instagram.com/chini_cuil/"  %}

    {% include card.html 
        icon_rss="true" 
        name="TikTok" 
        content="Para ver como hago el ridículo en menos de un minuto" 
        link="https://www.tiktok.com/@chini_cuil" %}
    
    {% include card.html 
        icon_rss="true" 
        name="Bluesky" 
        content="Para explicarle a la gente que Bluesky no está descentralizada" 
        link="https://bsky.app/profile/chinicuil.bsky.social" %}
    
    {% include card.html 
        icon_rss="true" 
        name="Threads" 
        content="Estoy en esta red social por motivos que aun no termino de definir" 
        link="https://www.threads.com/@chini_cuil" %}

    {% include card.html 
        icon_rss="true" 
        name="Tumblr" 
        content="Para que envíes a las personas que no quiere ver mis publicaciones" 
        link="https://somoschinicuil.tumblr.com/" %}

    {% include card.html 
        icon_rss="true" 
        name="Medium" 
        content="Para leer mis faltas de ortografía" 
        link="https://medium.com/@soychinicuil" %}

    {% include card.html 
        icon_facebook="true" 
        name="Facebook" 
        content="Para que termines viendo más publicidad de la esperada" 
        link="https://www.facebook.com/somoschinicuil" %}

    {% include card.html 
        icon_twitter="true" 
        name="Twitter" 
        content="Ya no lo uso por culpa del culero de Musk" 
        link="http://twitter.com/chini_cuil/"  %}
    
    {% include card.html 
        icon_rss="true" 
        name="Pinterest" 
        content="Básicamente por los loles... pero también por las ranas" 
        link="http://pinterest.com/soychinicuil/" %}

    {% include card.html 
        icon_youtube="true" 
        name="Canal de youtube" 
        content="Para ver los videos del pasado" 
        link="https://youtube.com/chinicuil" %}
</div>

