# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

google_analytics: UA-163385026-1

encoding: ENCODING 
permalink: /:categories/:title:output_ext
tags:

title: Chinicuil youtuber
email: soychinicuil@outlook.com
description:
  Hola, para todos aquellos que no me conozcan somos el Chinicuil
  En este canal vamos a hablar de política, anarquismo, feminismo, arte, América Latina, España, poscolonialismo y lo que vaya saliendo.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https//somoschinicuil.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: chini_cuil
# github_username:  somoschinicuil
instagram_username: chini_cuil
youtube_username:  chinicuil

# Build settings
# theme: minima Custom theme
plugins:
  - jekyll-feed

# Exclude from processing.
exclude: ['README.md', 'Gemfile.lock', 'Gemfile']
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
