:root {
    --font: sans-serif; 
    --font-size: 16px;
    --font-color: #fff;
    --bg: #134AFF;
    --secondary-color: #F54B39;  
    --radius: 8px;
}
html {
    background: var(--bg);
    margin: 0;
    padding: 1rem;
    font-family: var(--font);
    font-size: var(--font-size);
    color: var(--font-color);
    line-height: 1.5;
}
a {
    color: var(--font-color);
}
hr {
    outline: 0;
    border: 0;
    height: 1px;
    background: var(--font-color);
}

.container {
    max-width: 680px;
    margin: 0 auto;
}
.card {
    border: 1px solid var(--font-color);
    border-radius: var(--radius);
    padding: 2rem;
    margin-bottom: 1rem;
    break-inside: avoid-column;
}
.spacer {
    margin: 2rem 0;
}

.btn {
    border-radius: var(--radius);
    background: var(--font-color);
    color: var(--bg);
    text-decoration: none;
    padding: 1rem;
}

@media (min-width: 768px) {
    .row {
        column-count: 2;
        column-gap: 1rem;
        column-rule: none;
    }
}


.card h1,
.card h2,
.card h3 {
    margin-top: 0
}