<figure class="card">
    {% if include.icon_twitter %}<span class="card-icon"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></span>{% endif %}
    {% if include.icon_instagram %}<span class="card-icon"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg></span>{% endif %}
    {% if include.icon_rss %}<span class="card-icon"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg></span>{% endif %}
    {% if include.icon_facebook %}<span class="card-icon"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg></span>{% endif %}
    {% if include.icon_youtube %}<span class="card-icon"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg></span>{% endif %}
    <a href="{{ include.link }}" target="_blank">
        <span class="h3">{{ include.name }} <strong><small>{{ include.lang }}</small></strong></span> 
        <span class="content">{{ include.content }}</span>
    </a>
</figure>
