<footer class="footercuil">
  <div class="container">
      <div class="row">
          <div class="col_2 footercuil_left">
              <img src="/assets/img/chininew/0-layout-chini-opina.png" alt="Un Chinicuil opinando" class="footercuil_img">
          </div>
          <div class="col_10 row b_top footercuil_otherleft">
              <div class="col_8">
                  <div class="FoxFont footercuil_text">
                      <em>Si necesitas ponerte en contacto conmigo escríbeme por mastodon
                          {%- if site.email -%}
                          o envíame un correo a <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                          {%- endif -%}
                      </em>
                  </div>
              </div>
              <div class="col_4">
                  <div class="brandingcuil branding_bottom">
                      <div class="row">
                          <div class="col">
                              <p class="footercuil_name FauxFont">Chinicuil</p>
                              <p class="footercuil_moto">anarcohub {{ site.title | escape }} {{ 'now' | date: "%Y" }}</p>
                          </div>
                          <div class="col">
                              <img src="/assets/img/chininew/0-layout-cc.svg" alt="Logotipo en vector de copyleft">
                              <img src="/assets/img/chininew/0-layout-a.svg" alt="Logotipo en vector de la A anarquista">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>