@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Zilla Slab', serif !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #f5c82a !default;
$brand-color:      #dd2813 !default;

$grey-color:       #111 !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark:  darken($grey-color, 10%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1280px !default;
$content-width-smol: 780px !default;

$on-palm:          850px !default;
$on-laptop:        850px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
