@charset "utf-8";

// Define defaults for each variable.

$base-font-family: monospace !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     30px !default;

$text-color:       #010B0B !default;
$background-color: #f5c82a !default;
$brand-color:      #dd2813 !default;

$grey-color:       #111 !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark:  darken($grey-color, 10%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1280px !default;
$content-width-smol: 780px !default;

$on-palm:          850px !default;
$on-laptop:        850px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@font-face {
  font-family: 'Aktura-Regular';
  src: url('fonts/aktura/Aktura-Regular.eot');
  src: url('fonts/aktura/Aktura-Regular.ttf') format('truetype'), 
          ('fonts/aktura/Aktura-Regular.woff') format('woff'), 
          ('fonts/aktura/Aktura-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'terminal-grotesque_open';
  src: url('fonts/terminal/terminal-grotesque_open.otf');
  font-weight: normal;
  font-style: normal;
}
body {
  background: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-size: 16px;
  line-height: 1.4;
}

/*
************************************************* 
Fonts 
**************************************************
*/
.FauxFont {
  font-family: 'Aktura-Regular';
}
.FixFont {
  font-family: 'terminal-grotesque_open';
}
.FoxFont {
  font-family: serif;
}
.h1, h1, 
.h2, h2,
.h3, h3,
.h4, h4 {
  font-family: 'terminal-grotesque_open';
  font-weight: normal;
  font-style: normal;
}
blockquote {
  font-family: serif;
  font-size: 1.4rem;
  font-style: italic;
  border-left: 4px solid;
  margin-left: 0;
  padding-left: 1rem;
}
.auxColor {
  color: #8E0589; 
}
.text_r {
  text-align: right;
} 

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/pages",
  "minima/syntax-highlighting"
;
