/*
************************************************* 
Forms 
**************************************************
*/
button.btn {
  border: 0;
  outline: 0;
  border-radius: 0;
  background: none;
}
.btn {
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  position: relative;
  display: inline-block;
}
.btn_main {
  border: 1px solid #FF2309;
  font-family: 'Aktura-Regular';
  font-size: 36px;
  color: #FF2309;
}
.btn_menu {
  background: #ffcc33;
  border: 1px solid #8E0589;
  color: #8E0589;
  font-family: 'terminal-grotesque_open';
  text-transform: uppercase;
  font-size: 20px;
}
.btn_submenu {
  background: #ffcc33;
  border: 1px dashed #8E0589;
  color: #8E0589;
  font-family: serif;
}

/*
************************************************* 
Grid 
**************************************************
*/
.container {
  max-width: calc(885px + 4rem);
  margin: 0 auto;
  padding: 0 2rem;
}
.container_sm {
  max-width: calc(730px + 4rem);
  margin: 0 auto;
  padding: 0 2rem;
}
@media (min-width: 600px){ 
  .row {  
      display: flex; 
      flex-wrap: wrap; 
  }
  .row_r {  
      display: flex; 
      flex-direction: row-reverse; 
  }
  .masonry {
      column-count: 3;
      column-gap: 1rem;
      column-rule: none;
  }
  .col_1 { 
      width: 8.333333% 
  }
  .col_2 { 
      width: 16.666667% 
  }
  .col_3 { 
      width: 25% 
  }
  .col_4 { 
      width: 33.333333% 
  }
  .col_5 { 
      width: 41.666667% 
  }
  .col_6 { 
      width: 50% 
  }
  .col_7 { 
      width: 58.333333% 
  }
  .col_8 { 
      width: 66.666667% 
  }
  .col_9 { 
      width: 75% 
  }
  .col_10 { 
      width: 83.333333% 
  }
  .col_11 { 
      width: 91.666667% 
  }
  .col_12 { 
      width: 100% 
  }
}
.row_n {  
  display: flex; 
  flex-wrap: wrap; 
}
.col_1_n { 
  width: 8.333333% 
}
.col_2_n { 
  width: 16.666667% 
}
.col_3_n { 
  width: 25% 
}
.col_4_n { 
  width: 33.333333% 
}
.col_5_n { 
  width: 41.666667% 
}
.col_6_n { 
  width: 50% 
}
.col_7_n { 
  width: 58.333333% 
}
.col_8_n { 
  width: 66.666667% 
}
.col_9_n { 
  width: 75% 
}
.col_10_n { 
  width: 83.333333% 
}
.col_11_n { 
  width: 91.666667% 
}
.col_12_n { 
  width: 100% 
}


/*
************************************************* 
Modules 
**************************************************
*/
.layertop {
  position: relative;
  z-index: 2;
}
.layerbottom {
  position: relative;
  z-index: 1;
}
.box {
  margin-bottom: 1rem;
  padding: 1rem;
  break-inside: avoid-column;
}
.box p:last-child {
  margin-bottom: 0;
}
.box h2 {
  margin-top: 0;
}
.b_top {
  border-top: 1px dashed;
}

/*
************************************************* 
Oldstyles 
**************************************************
*/
/**
 * Embeded video
 */

 .video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin: 1rem 0 1rem;
  iframe, object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/**
 * Tables
 */
table {
  margin: 1rem 0;
  width: 100%;
  th, td {
    color: #ffcc33;
    border: 1px solid #ffcc33;
    background: #8E0589;
  }
  a {
    color: #ffcc33;
  }
}


hr {
  background-color: #8E0589;
  border: 0;
  height: 1px;
  margin: 1rem;
  width: 60%;
}
