
/*
************************************************* 
Layout 
**************************************************
*/
/* Header */
.headercuil {
  margin-top: 4rem;
}
.chinilink_brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.headercuil_iconhome {
  top: -15px;
  left: 10px
  
}
.headercuil_avatar {
  width: 45px;
  height: 45px
}
.headercuil_logo {
  width: 190px;
  height: auto
}
/* Footer */
.footercuil {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.footercuil_otherleft {
  padding-top: 1rem;
}
.footercuil_img {
  max-width: 230px;
}
.branding_bottom p {
  padding: 0;
  margin: 0;
}
.footercuil_moto {
  font-size: 0.9rem;
}
.footercuil_text {
  margin-bottom: 1.5rem;
}
.branding_bottom .row_n {
  align-items: center;
}
.branding_bottom .col {
  margin-left: 1rem;
}
@media (min-width: 600px){ 
  .footercuil_text {
      text-align: right;
      padding-right: 1rem;
      margin-right: 1rem;
      border-right: 1px solid;
  }
  .footercuil_img {
      margin-top: 1rem;
  }
}
@media (max-width: 600px) { 
  .footercuil {
      text-align: center;
  }
}