/**
 * Pages
 */
/*
************************************************* 
Home 
**************************************************
*/
body.home {
  background-color: #ffcc33;
  background-image: url(img/chininew/home-pelos.png);
  background-attachment: scroll;
}
.logo_home {
  fill: #8E0589;
  max-width: 500px;
  height: auto;
}
.heroecuil_container {
  position: relative;
}
.heroecuil_slogan {
  font-size: 1.3rem;
}
.ranastacio {
  max-width: 100%
} 
.dibujines_home {
  text-align: right;
  img {
    max-width: 100%;
  }
}
.btn_folder {
  font-family: monospace;
  margin-bottom: 1rem;
}
.icon_btn__ {
  display: inline-block;
}
.menucuil__secondary {
  .btn_submenu {
    border-color: #010B0B;
    color: #010B0B
  }
}
@media (min-width: 600px){ 
  .ranastacio {
      position: absolute;
      top: -30px;
      right: 0;
  } 
}
@media (min-width: 1205px){ 
  .dibujines_home img {
      margin-top: -130px;
      margin-right: -120px;
      position: relative;
  }
}
/* Menu */
.menucuil {
  margin-top: 1rem;
}
.menucuil_row {
  margin-bottom: 1rem;
  a {
    margin-right: 1rem;
  }
}
@media (max-width: 600px) { 
  .menucuil_row a {
      margin-top: 1rem;
      width: calc(100% - 2rem);
  }
  .h_mobile {
      display: none;
  }
  .heroecuil_top .btn_main {
    font-size: 2rem;
    position: absolute;
    left: -2rem;
    bottom: -8rem;
    transform: rotate(90deg);
  }
}

/*
************************************************* 
Post 
**************************************************
*/
body.post {
  background-color: #669999;
  background-image: url(img/chininew/post-meshpest.gif);
}
.chinipost {
  margin: 2rem 0 4rem 0;
  h1, .h1 {
    font-size: 3rem;
  }
  h2, .h2 {
    font-size: 2.5rem;
  }
  h3, .h3 {
    font-size: 2rem;
  }
  hr {
    background-color: #fff;
  }
  .box {
    background: #CB34FE;
    color: #fff;
    a {
      color: #fff;
    }
    img {
      max-width: 100%;
    }
  }
  p {
    line-height: 1.5;
    font-size: 18px;
  }
}
.chinipost_date {
  color: #ffcc33;
}
.mainicuil {
  position: relative;
}
.post_callthecops {
  width: 213px;
  height: auto;
  position: absolute;
  top: -60px;
  right: 0
}
.post_frag {
  width: 88px;
  height: auto;
}
@media (min-width: 600px){ 
  .post_frag {
      position: absolute;
      top: 12.5rem;
  }
  .chinipost_sidebar {
      margin-right: 1rem;
  }
  .chinipost_date {
      font-size: 2rem;
      margin: 0;
  }
}
/************************************************* 
Fediverso page 
**************************************************
*/
body.fediverso {
  background-color: #060606;

  .headercuil_logo,
  .footercuil {
    color: #ffcc33;
    fill: #ffcc33;
  }
  .chinipost .box {
    background: none;
    border: 1px solid #ffcc33;
    .box {
      border: 1px dashed #fff;
      h3 {
        font-size: 1.3rem;
      }
    }
  }
  .post_frag {
    display: none;
  }
  @media (min-width: 600px) {
    .chinipost_container {
      display: block;
    }
    .chinipost_main {
      width: 100%
    }
    .chinipost_aside {
      width: 50%;
    }
  }
}
.fedi_logos {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  img {
    border-radius: 100px;
    position: relative;
  }
  .logo_mini_ {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
}
/************************************************* 
Tecnofeudal
**************************************************
*/
body.tecnofeudal {
  background-color: #669999;
  background-image: url(img/chininew/varufaker.gif);
  .chinipost {
    h1,h2 {
      font-family: 'Aktura-Regular';
    }
    .box {
      background: #FF2309;
    }
  }
}
/*
************************************************* 
Loop 
**************************************************
*/
body.loop {
  background-color: #FF2309;
  background-image: url(img/chininew/loop-pelambre.png);
  background-attachment: scroll;
}
.chiniloop_title {
  font-family: monospace;
}
.chiniloop  {
  .box {
    border: 1px dashed #010B0B;
    color: #ffcc33;
  }
  img {
    width: 100%;
    height: auto;
  } 
}
.chinipost_mini_date {
  font-size: 1.4rem;
} 
.chinipost_mini a {
  color: #ffcc33;
}

/*
************************************************* 
Link 
**************************************************
*/
body.links {
  background-color: #8E0589;
  background-image: url(img/chininew/link-pelink.png);
  background-attachment: scroll;
}
.chinilink_mini {
  display: block;
  border: 1px dashed #ffcc33;
  padding: 2rem;
  margin-bottom: 2rem;
  color: #ffcc33;
  text-decoration: none;
  p {
    margin-top: 0;
    text-decoration: underline;
  } 
}
.chinilink_mini_title {
  font-family: serif;
  margin: 0;
}
.chinilink_mini_img {
  border-radius: 100%;
  border: 1px solid #ffcc33;
  display: inline-block;
  width: 55px;
  margin-right: 1rem;
}
.link_ {
  display: block;
}
@media (max-width: 600px) { 
  .chinilink {
    text-align: center;
  }
  .chinilink_mini_title {
    margin: 0.5rem 0;
  }
  .chinilink_mini_img {
    margin-right: 0;
  }
}

/*
************************************************* 
alert insta 
**************************************************
*/
.alert {
  background: $brand-color;
  padding: 0.5rem;
  border-radius: 3px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  strong {
    display: block;
    font-size: 16px;
  }

}
.d-none {
  display: none;
}