---
layout: default
---
<meta property=”og:image” content="https://somoschinicuil.github.io/assets/img/thumbs/chinicuil-youtuber-{{ page.thumbVideo }}.jpg">
<header class="headercuil">
  <div class="container">
      <div class="row">
          <div class="col_6">
            {%- include header.html -%} 
          </div>
          <div class="col_6 text_r">
              
          </div>
      </div>
  </div>
</header>
<main class="mainicuil container" aria-label="Content">
  <section class="chinipost" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="row_r">
          <div class="col_9">
              <header class="chinipost_header box">
                  <h1 itemprop="name headline">{{ page.title | escape }}</h1>
                  <meta itemprop="image" content="https://somoschinicuil.github.io/assets/img/thumbs/chinicuil-youtuber-{{ page.thumbVideo }}.jpg">
              </header>
              <article class="chinipost_post box" itemprop="articleBody">
                {%- if page.description -%}
                <p>{{ page.description }}</p>
                {%- endif -%}
                {%- if page.urlVideo -%}
                  <div class="video">
                    <iframe src="https://www.youtube.com/embed/{{ page.urlVideo }}" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <hr>
                {%- endif -%}
                {%- if page.urlAnartist -%}
                  <div class="alert d-none" id="alert-insta">
                    <strong>Instagram está bloqueando este video</strong>
                    Tendrás que abrir este link en un navegador externo (usando el menú de tres puntos que aparece en alguna de las esquinas de tu pantalla)
                  </div>
                  <div class="video">
                    <iframe src="https://video.anartist.org/videos/embed/{{ page.urlAnartist }}" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
                  </div>
                  <hr>
                {%- endif -%}
        
                {{ content }}
                <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
              </article>
          </div>
          <div class="col_3">
              <div class="chinipost_sidebar box">
                  <p class="chinipost_date FauxFont"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    {{ page.date | date: date_format }}
                  </time></p>
                  <p class="chinipost_tags">{% for tag in page.tags %}
                    {% capture tag_name %}{{ tag }}{% endcapture %}
                    <a href="/tag/{{ tag_name | slugify }}">{{ tag_name }}&nbsp;</a>
                    {% endfor %}</p>
              </div>
              <img class="post_frag layertop" src="/assets/img/chininew/post-frag.png" alt="Una rana pequeña con mucha calma en su mirada">
          </div>
      </div>
  </section>
  <img class="post_callthecops layertop" src="/assets/img/chininew/post-call-cops.png" alt="Rana malosa con una patineta">
</main>
<script>
  var isInstagram = navigator.userAgent.match(/instagram/i);
  if (isInstagram) {
    const el = document.querySelector('#alert-insta');
    el.classList.remove("d-none");
  }
</script>