---
layout: default
trait: 'loop'
---
<header class="headercuil">
  <div class="container">
      <div class="row">
          <div class="col_6">
            {%- include header.html -%} 
          </div>
          <div class="col_6 text_r">
              <h1 class="chiniloop_title">{{ page.title | escape }}</h1>
          </div>
      </div>
  </div>
</header>
<main class="mainicuil container" aria-label="Content">
  <section class="chiniloop masonry">
  {% for post in site.tags[page.tag] %}
    <article class="chinipost_mini box">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h2>
          <p class="chinipost_mini_date FauxFont">{{ post.date | date: date_format }}</p>
          {%- if post.description -%}
            {{ post.description }}
          {%- endif -%}
    </article>
  {% endfor %}
  </section>
</main>